<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>

<body>

{% include "vehicle/navbar.html" %}
<br><br>

<center>
    <h3 class='alert alert-success'>Send Us Your Valuable Feedback !</h3>

    <form method="POST">
        <!-- Very Important csrf Token -->
        {% csrf_token %}
        <div class="form-group">
            <p>
            <h3>{{ form.as_p }}</h3>
            </p>
            <br>
            <input type="submit" value="Send Message" class='btn btn-primary btn-lg'>
        </div>
    </form>
</center>
{% include "vehicle/footer.html" %}
  </div>
  <br><br><br>
  <marquee behavior="scroll" direction="left">
   <img src="{% static "images/ferrari.png" %}" width="120" height="80" alt="ferrari"/>
    <img src="{% static "images/porsche.png" %}" width="120" height="80" alt="porsche"/>
    <img src="{% static "images/lambo.png" %}" width="120" height="80" alt="lambo"/>
    <img src="{% static "images/bentley.png" %}" width="120" height="80" alt="bentley"/>
    <img src="{% static "images/rolls.png" %}" width="120" height="80" alt="rolls"/>
    <img src="{% static "images/audi.png" %}" width="120" height="80" alt="audi"/>
    <img src="{% static "images/honda.png" %}" width="120" height="80" alt="honda"/>
    <img src="{% static "images/mercedes.png" %}" width="120" height="80" alt="mercedes"/>
    <img src="{% static "images/nissan.png" %}" width="120" height="80" alt="nissan"/>
    <img src="{% static "images/ford.png" %}" width="120" height="80" alt="ford"/>
    <img src="{% static "images/fiat.png" %}" width="120" height="80" alt="fiat"/>
    <img src="{% static "images/suzuki.png" %}" width="120" height="80" alt="suzuki"/>
 </marquee>
</body>

</html>
