<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background-image: url('{% static "images/car_pic.jpg" %}');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .jumbotron h1 {
      text-align: center;
    }
  </style>

</head>

<body>
  {% include "vehicle/navbar.html" %}
  <br><br>

  <div class="jumbotron" style="margin-bottom: -200px;margin-top: 4px;">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
  </div>

  {% include "vehicle/../customer/customer_mechanic_cards.html" %}
<br><br><br><br>
  </div>

</body>
{% include "vehicle/footer.html" %}
</html>
